@use 'sass:math';

.footer {
    background-color: $cSmoke;
    padding: $internal-spacing*3 0;
}

.footer__heading {
    font-size: rem($typeL);
    font-weight: $fontBold;
    color: #fff;
    margin-bottom: math.div($internal-spacing,2);
}

.footer__copy {
    font-size: rem($typeS);
    color: #fff;
    margin-bottom: $internal-spacing;
}

.footer__list {
    list-style: none;
    color: #fff;
    font-size: rem($typeS);
    @include respond-to($vpC) {
        width: 50%;
        float: left;
    }
    li {
        margin-bottom: math.div($internal-spacing,3);
        svg {
            width: 15px;
            height: 15px;
            vertical-align: middle;
            margin-right: 5px;
        }
        a {
            color: inherit;
            border-bottom: 0;
            text-decoration: underline;
        }
    }
}

.footer__secondary {
    @include pie-clearfix;
    border-top: 1px solid $cHaze;
    margin-top: $internal-spacing*2;
    padding-top: $internal-spacing*2;
}

.footer__meta {
    font-size: rem($typeS);
    color: #fff;
    a {
        color: #fff;
        text-decoration: underline;
        border-bottom: none;
    }
    p + p {
        margin-top: $internal-spacing;
    }
    @include respond-to($vpC) {
        width: 50%;
        float: left;
    }
}