// Sidebar
.grid-sidebar {
	@include respond-to($vpC) {
		@include gridCalc('true');
		grid-column-gap: 50px !important;
		&__main {
			@include gridPosition(1, 7);
			@include gridRow(1);
			width: 65%;
			float: left;
			@supports (display: grid) {
				width: auto;
				float: none;
			}
			@supports (display: -ms-grid) {
				width: 65%;
				float: left;
			}
		}
		&__aside {
			@include gridPosition(8, 5);
			@include gridRow(1);
			width: 30%;
			float: right;
			margin-left: 5%;
			@supports (display: grid) {
				width: auto;
				float: none;
			}
			@supports (display: -ms-grid) {
				width: 30%;
				float: right;
				margin-left: 5%;
			}
		}
	}
}

// 1 column grid
.grid-1up {
	@include gridCalcRepeat(1);
	&--trailer {
		margin-bottom: $internal-spacing;
	}
	> div, > a {
		@include respond-to($vpC) {
			width: 100%;
			margin-bottom: 2em;
			@supports (display: grid) {
				width: auto;
				margin-bottom: 0;
			}
			@supports (display: -ms-grid) {
				width: 100%;
			}
		}
	}
}

// 2 column grid
.grid-2up {
	@include gridCalcRepeat(1);
	@include respond-to($vpC) {
		@include gridCalcRepeat(2);
		&--large {
			grid-column-gap: 50px !important;
		}
	}
	> div, > a {
		margin-bottom: $internal-spacing;
		@include respond-to($vpC) {
			width: 49%;
			margin-left: 2%;
			float: left;
			&:nth-child(2n+1) {
				margin-left: 0;
				clear: left;
			}
			@supports (display: grid) {
				width: auto;
				margin-left: 0;
				float: none;
			}
			@supports (display: -ms-grid) {
				width: 49%;
				float: left;
			}
		}
	}
}

// 2 column grid with a 2:1 ratio
.grid-2up-offset {
	margin-bottom: $internal-spacing;
	@include respond-to($vpC) {
		@include gridCalc('true');
		grid-column-gap: 50px !important;
		&__main {
			@include gridPosition(1, 7);
			@include gridRow(1);
			width: 65%;
			float: left;
			@supports (display: grid) {
				width: auto;
				float: none;
			}
			@supports (display: -ms-grid) {
				width: 65%;
				float: left;
			}
		}
		&__aside {
			@include gridPosition(8, 5);
			@include gridRow(1);
			width: 30%;
			float: right;
			margin-left: 5%;
			@supports (display: grid) {
				width: auto;
				float: none;
				margin-left: 0;
			}
			@supports (display: -ms-grid) {
				width: 30%;
				float: right;
				margin-left: 5%;
			}
		}
	}
	@include respond-to-max($vpC) {
		&__main {
			margin-bottom: $internal-spacing;
		}
	}
}

// 3 column grid
.grid-3up {
	@include gridCalcRepeat(1);
	@include respond-to($vpC) {
		@include gridCalcRepeat(3);
	}
	@include respond-to-min-max($vpB,$vpC) {
		@include gridCalcRepeat(2);
	}
	&--trailer {
		margin-bottom: $internal-spacing;
	}
	> div, > a {
		margin-bottom: $internal-spacing;
		@include respond-to($vpC) {
			width: 32%;
			margin-left: 2%;
			float: left;
			&:nth-child(3n+1) {
				margin-left: 0;
				clear: left;
			}
			@supports (display: grid) {
				width: auto;
				margin-left: 0;
				float: none;
			}
			@supports (display: -ms-grid) {
				width: 33%;
				float: left;
			}
		}
		@include respond-to-min-max($vpB, $vpC) {
			width: 48%;
			margin-left: 2%;
			float: left;
			&:nth-child(2n+1) {
				margin-left: 0;
				clear: left;
			}
			@supports (display: grid) {
				width: auto;
				margin-left: 0;
				float: none;
			}
			@supports (display: -ms-grid) {
				width: 50%;
				float: left;
			}
		}
	}
}

// 4 column grid
.grid-4up {
	@include gridCalcRepeat(1);
	@include respond-to($vpB) {
		@include gridCalcRepeat(2);
	}
	@include respond-to($vpC) {
		@include gridCalcRepeat(4);
	}
	> div, > a {
		margin-bottom: $internal-spacing;
		@include respond-to-max($vpC) {
			width: 49%;
			margin-left: 2%;
			float: left;
			&:nth-child(2n+1) {
				margin-left: 0;
				clear: left;
			}
			@supports (display: grid) {
				width: auto;
				margin-left: 0;
				float: none;
				clear: none;
			}
			@supports (display: -ms-grid) {
				width: 49%;
				float: left;
			}
		}
		@include respond-to($vpC) {
			width: 23.5%;
			margin-left: 2%;
			float: left;
			&:nth-child(4n+1) {
				margin-left: 0;
				clear: left;
			}
			@supports (display: grid) {
				width: auto;
				margin-left: 0;
				float: none;
			}
			@supports (display: -ms-grid) {
				width: 23.5%;
				float: left;
			}
		}
	}
}

// 4,3,2 and 1 column grid for different viewports
.grid-max-4up {
	@include respond-to($vpB) {
		@include gridCalcRepeat(2);
	}
	@include respond-to($vpC) {
		@include gridCalcRepeat(3);
	}
	@include respond-to($vpD) {
		@include gridCalcRepeat(4);
	}
	> div, > a {
		margin-bottom: $internal-spacing;
		@include respond-to-min-max($vpA, $vpB) {
			width: 49%;
			margin-left: 2%;
			float: left;
			&:nth-child(2n+1) {
				margin-left: 0;
				clear: left;
			}
			@supports (display: grid) {
				width: auto;
				margin-left: 0;
				float: none;
				clear: none;
			}
			@supports (display: -ms-grid) {
				width: 49%;
				float: left;
			}
		}
		@include respond-to-min-max($vpB, $vpD) {
			width: 32%;
			margin-left: 2%;
			float: left;
			&:nth-child(3n+1) {
				margin-left: 0;
				clear: left;
			}
			@supports (display: grid) {
				width: auto;
				margin-left: 0;
				float: none;
				clear: none;
			}
			@supports (display: -ms-grid) {
				width: 32%;
				float: left;
			}
		}
		@include respond-to($vpD) {
			width: 23.5%;
			margin-left: 2%;
			float: left;
			&:nth-child(4n+1) {
				margin-left: 0;
				clear: left;
			}
			@supports (display: grid) {
				width: auto;
				margin-left: 0;
				float: none;
			}
			@supports (display: -ms-grid) {
				width: 23.5%;
				float: left;
			}
		}
	}
}

// 5 column grid
.grid-5up {
	> div, > a {
		margin-bottom: $internal-spacing;
	}
	@include respond-to($vpB) {
		@include gridCalcRepeat(3);
		grid-column-gap: 10px !important;
		> div, > a {
			margin-bottom: 0;
		}
	}
	@include respond-to($vpC) {
		@include gridCalcRepeat(5);
		> div, > a {
			@include respond-to($vpC) {
				width: 18.4%;
				margin-left: 2%;
				float: left;
				&:nth-child(5n+1) {
					margin-left: 0;
					clear: left;
				}
				@supports (display: grid) {
					width: auto;
					margin-left: 0;
					float: none;
				}
				@supports (display: -ms-grid) {
					width: 18.4%;
					float: left;
				}
			}
		}
	}
}

.grid__col {
	position: relative;
	@include pie-clearfix;
}