
.header {
	display: block;
	background-color: $cSmoke;
	padding: 1em 0 0;
	position: relative;
}

.header__logo {
	margin-top: 1em;
	height: 80px;
	width: 80px;
	background-image: url(../img/b-team-logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	display: block;
	text-indent: -9999em;
	border: none;
	&:hover {
		border: none;
	}
}

// Search
// ------------------------------------------------------------

.header-search {
	@include pie-clearfix;
	display: none;
	@include respond-to($vpMenu) {
		position: absolute;
		top: 0;
		right: $internal-spacing;
		font-size: rem($typeS);
		display: inline-block;
		width: 170px;
		input {
			float: left;
			display: inline-block;
			width: 100%;
			border: 0;
			outline: none;
			background-color: #fff;
			padding: 0.3em 1em;
			line-height: 1;
			border-radius: 1.5em;
		}
		button {
			position: absolute;
			top: 0;
			right: 0;
			cursor: pointer;
			width: 24px;
			height: 24px;
			// background-color: red;
			text-indent: -9999px;
			span {
                width: 18px;
                height: 18px;
                background-image: url(../icons/source/search.svg);
				background-size: contain;
				// background-color: pink;
				display: block;
				padding: 2px 0 0 2px;
            }
		}
	}
	@include respond-to($vpE) {
		right: 0;
	}
}

.header-search__label {
	@include a11yhide;
}
