
.row {
	@include pie-clearfix;
	padding-left: $internal-spacing;
	padding-right: $internal-spacing;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	min-width: auto;
	max-width: $gridMax;
	&--static {
		position: static;
	}
	@include respond-to($vpE) {
	    padding-left: 0;
	    padding-right: 0;
	}
	.header & {
		padding-left: 0;
		padding-right: 0;
	}
}
