
.section {
    position: relative;
    padding: $internal-spacing 0;
    @include respond-to($vpC) {
        padding: $internal-spacing*2 0;
    }
    > div {
        position: relative;
        z-index: 2;
    }
    &--minor {
        @include respond-to($vpC) {
            padding: $internal-spacing 0;
        }
    }
    &--highlight {
        background-color: $cHaze;
        margin-top: $internal-spacing;
    }
    &--paddless {
        padding: 0;
    }
    &--grey {
        background-color: $cCloud;
        .typebase {
            h1,h2,h3,h4,h5,h6,p,ol,ul,li {
                color: #fff;
            }
        }
        + .section--highlight {
            margin-top: 0;
        }
    }
}

.section__header {
    margin-bottom: $internal-spacing*2;
}

.section__heading {
    @extend .heading;
    line-height: 1.3;
    font-size: rem($typeXL);
    margin-bottom: $internal-spacing;
    .section--grey &, .section--purple & {
        color: #fff;
    }
}

.section__subheading {
    @extend .heading;
    font-size: rem($typeL);
    margin-bottom: $internal-spacing;
}

.section__copy  {
    font-size: rem($typeDefault);
}
