<footer role="contentinfo" class="footer">
    <div class="row">
        <div class="grid-3up">
            <div class="grid__col">
                <h3 class="footer__heading">Sign up to our newsletter</h3>
                <p class="footer__copy">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam quas ipsa nostrum iure molestias quasi molestiae dolore.</p>
                <a href="" class="button button--primary">Sign up</a>
            </div>
            <div class="grid__col">
                <ul class="footer__list">
                    <li><a href="">Accessibility</a></li>
                    <li><a href="">Privacy</a></li>
                    <li><a href="">Cookies</a></li>
                    <li><a href="">Contact</a></li>
                    <li>Tel: <a href="tel:01234 567 890">01234 567 890</a></li>
                </ul>
            </div>
            <div class="grid__col">
                 <ul class="footer__list">
                    <li>
                        <svg class="icon-twitter-svg">
                            <use xlink:href="/assets/icons/renders/sprite.svg#twitter"></use>
                        </svg>
                        <a href="">Twitter</a>
                    </li>
                    <li>
                        <svg class="icon-facebook-svg">
                            <use xlink:href="/assets/icons/renders/sprite.svg#facebook"></use>
                        </svg>
                        <a href="">Facebook</a>
                    </li>
                    <li>
                        <svg class="icon-linkedin-svg">
                            <use xlink:href="/assets/icons/renders/sprite.svg#linkedin"></use>
                        </svg>
                        <a href="">LinkedIn</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="footer__secondary">
            <div class="footer__meta">
                <p>&copy; 2021 Lorem ipsum dolor sit amet consectetur adipisicing, elit. Cupiditate praesentium commodi animi harum dolor quos ab recusandae repudiandae qui, saepe, natus accusamus eos unde ipsa, dolorem eum ex delectus fugit!
                <p>Website by <a href="https://bteam.co/">B Team</a></p>
            </div>
        </div>
    </div>
</footer>
