{% import 'partials/macros/button.html' as btn %}

{% macro news(image, heading, date, author, category, description) %}
	<div class="listing-item">
		<div class="listing-item__media">
			<img src="/assets/img/{{ image }}" alt="{{ heading }}">
		</div>
		<div class="listing-item__content">
			<h4 class="listing-item__heading"><a href="">{{ heading | safe | trim }}</a></h4>
			<ul class="listing-item__meta">
				<li><svg class="icon-calendar-svg"><use xlink:href="/assets/icons/renders/sprite.svg#calendar"></use></svg>{{ date | safe | trim }}</li>
				<li><svg class="icon-tag-svg"><use xlink:href="/assets/icons/renders/sprite.svg#tag"></use></svg><a href="">{{ category }}</a></li>
				<li><svg class="icon-author-svg"><use xlink:href="/assets/icons/renders/sprite.svg#author"></use></svg>{{ author }}</li>
			</ul>
			<div class="typebase max-meter">
				{{ description | safe | trim }}
			</div>
		</div>
	</div>
{% endmacro %}

{% macro search(heading, url, description) %}
	<div class="listing-item">
		<div class="listing-item__content">
			<h4 class="listing-item__heading"><a href="">{{ heading | safe | trim }}</a></h4>
			<ul class="listing-item__meta">
				<li>{{ url | safe | trim }}</li>
			</ul>
			<div class="typebase max-meter">
				{{ description | safe | trim }}
			</div>
		</div>
	</div>
{% endmacro %}