{% set title = 'Alerts' %}
{% extends 'layouts/guide.html' %}

{% import 'partials/macros/alert.html' as alerts %}

{% block content %}
<div class="guide-section">
	<h1 class="guide-h1">Alert - notice</h1>
	{{ alerts.alert('alert alert--notice', 'Alert message') }}
</div>
<div class="guide-section">
	<h1 class="guide-h1">Alert - success</h1>
	{{ alerts.alert('alert alert--success', 'Alert message') }}
</div>
<div class="guide-section">
	<h1 class="guide-h1">Alert - error</h1>
	{{ alerts.alert('alert alert--error', 'Alert message') }}
</div>
{% endblock %}
