{% set title = 'Buttons' %}
{% extends 'layouts/guide.html' %}

{% block content %}
<div class="guide-section">
	<h1 class="guide-h1">{{ title }} default</h1>
	<a href="" class="button button--primary">Default</a>
	<a href="" class="button button--secondary">Secondary</a>
	<a href="" class="button button--disabled">Disabled</a>
	<a href="" class="button button--primary button--icon"><svg class="icon_plus_svg"><use xlink:href="/assets/icons/renders/sprite.svg#plus"></use></svg>Icon.</a>
</div>
<div class="guide-section">
	<h1 class="guide-h1">{{ title }} small</h1>
	<a href="" class="button button--small button--primary">Default</a>
	<a href="" class="button button--small button--secondary">Secondary</a>
	<a href="" class="button button--small button--disabled">Disabled</a>
	<a href="" class="button button--small button--primary button--icon"><svg class="icon_plus_svg"><use xlink:href="/assets/icons/renders/sprite.svg#plus"></use></svg>Icon.</a>
</div>
<div class="guide-section">
	<h1 class="guide-h1">{{ title }} full width</h1>
	<a href="" class="button button--block button--primary">Default</a>
	<a href="" class="button button--block button--secondary">Secondary</a>
	<a href="" class="button button--block button--disabled">Disabled</a>
	<a href="" class="button button--block button--primary button--icon"><svg class="icon_plus_svg"><use xlink:href="/assets/icons/renders/sprite.svg#plus"></use></svg>Icon.</a>
</div>
{% endblock %}
