{% set title = 'Color' %}
{% extends 'layouts/guide.html' %}

{% set color = {
    a: { color: "orange" },
    b: { color: "green" },
    c: { color: "yellow-green" },
    d: { color: "yellow" },
    e: { color: "smoke" },
    f: { color: "cloud" },
    g: { color: "haze" },
    i: { color: "ice" }
  }
%}

{% block content %}
<div class="guide-section">
<h1 class="guide-h1">{{ title }} palette</h1>
<ul class="guide-swatches">
  {% for key, object in color | dictsort %}
    <li class="guide-swatch guide-swatch--{{ object.color }}">
      <span class="guide-swatch-block"></span>
      <span class="guide-swatch-meta">{{ object.color }}</span>
    </li>
  {% endfor %}
</ul>
  </div>
{% endblock %}
