{% set title = 'Forms' %}
{% extends 'layouts/guide.html' %}

{% block content %}
<div class="guide-section">
	<h1 class="guide-h1">Inputs</h1>
	<fieldset class="fieldset">
		<div class="form-field">
			<label class="form-label" for="text">Text</label>
			<input class="form-item" type="text" value="" name="text" id="text">
		</div>
		<div class="form-field form-field--spaced">
			<label class="form-label" for="email">Email</label>
			<input class="form-item" type="email" value="" name="email" id="email">
		</div>
		<div class="form-field form-field--spaced">
			<label class="form-label" for="email">Small</label>
			<input class="form-item form-item--small" type="email" value="" name="email" id="email">
		</div>
		<div class="form-field form-field--spaced form-field--error">
			<label class="form-label" for="email">With error</label>
			<input class="form-item" type="email" value="" name="email" id="email">
			<span class="form-field__error__message form-field__error__message--visible">Please add your email</span>
		</div>
	</fieldset>
</div>
<div class="guide-section">
	<h1 class="guide-h1">Selects</h1>
	<fieldset class="fieldset">
		<div class="form-field">
			<label class="form-label" for="select">Select</label>
			<div class="form-field__select">
				<select name="select">
					<option>Option</option>
					<option>Option</option>
					<option>Option</option>
					<option>Option</option>
					<option>Option</option>
				</select>
			</div>
		</div>
		<div class="form-field form-field--spaced">
			<label class="form-label" for="select">Select small</label>
			<div class="form-field__select form-field__select--small">
				<select name="select">
					<option>Option</option>
					<option>Option</option>
					<option>Option</option>
					<option>Option</option>
					<option>Option</option>
				</select>
			</div>
		</div>
		<div class="form-field form-field--spaced form-field--error">
			<label class="form-label" for="select">Select</label>
			<div class="form-field__select">
				<select name="select">
					<option>Option</option>
					<option>Option</option>
					<option>Option</option>
					<option>Option</option>
					<option>Option</option>
				</select>
			</div>
			<span class="form-field__error__message form-field__error__message--visible">Please choose an option</span>
		</div>
	</fieldset>
</div>
<div class="guide-section">
	<h1 class="guide-h1">Radios</h1>
	<fieldset class="fieldset">
		<div class="form-field__pair">
			<div class="form-field form-field--check-radio">
				<label class="form-label">Choose an option</label>
				<div class="form-field__radiobuttons">
					<input type="radio" name="use_observ" id="use_observ">
					<label class="form-label" for="use_observ">Observability of models/analytics in production</label>
					<input type="radio" name="use_audit" id="use_audit">
					<label class="form-label" for="use_audit">Auditability of your data science teams</label>
				</div>
			</div>
		</div>
		<div class="form-field__pair">
			<div class="form-field form-field--spaced form-field--check-radio form-field--error">
				<label class="form-label">Choose an option</label>
				<div class="form-field__radiobuttons">
					<input type="radio" name="use_observ1" id="use_observ1">
					<label class="form-label" for="use_observ1">Observability of models/analytics in production</label>
					<input type="radio" name="use_audit2" id="use_audit2">
					<label class="form-label" for="use_audit2">Auditability of your data science teams</label>
				</div>
			</div>
		</div>
	</fieldset>
</div>
<div class="guide-section">
	<h1 class="guide-h1">Checkboxes</h1>
	<fieldset class="fieldset">
		<div class="form-field__pair">
			<div class="form-field form-field--check-radio">
				<label class="form-label">Choose an option</label>
				<div class="form-field__checkboxes">
					<input type="checkbox" name="use_vc" id="use_vc">
					<label class="form-label" for="use_vc">Version Control</label>
					<input type="checkbox" name="use_collab" id="use_collab">
					<label class="form-label" for="use_collab">Collaboration between data scientists</label>
				</div>
			</div>
		</div>
		<div class="form-field__pair">
			<div class="form-field--spaced form-field--check-radio form-field--error">
				<label class="form-label">Choose an option</label>
				<div class="form-field__checkboxes">
					<input type="checkbox" name="use_vc1" id="use_vc1">
					<label class="form-label" for="use_vc1">Version Control</label>
					<input type="checkbox" name="use_collab2" id="use_collab2">
					<label class="form-label" for="use_collab2">Collaboration between data scientists</label>
				</div>
			</div>
		</div>
	</fieldset>
</div>
<div class="guide-section">
	<h1 class="guide-h1">Textareas</h1>
	<fieldset class="fieldset">
		<div class="form-field">
			<label class="form-label" for="textarea">Textarea</label>
			<textarea class="form-item" name="textarea" id="textarea"></textarea>
		</div>
		<div class="form-field form-field--spaced form-field--error">
			<label class="form-label" for="textarea">Textarea</label>
			<textarea class="form-item" name="textarea" id="textarea"></textarea>
			<span class="form-field__error__message form-field__error__message--visible">Please add a message</span>
		</div>
	</fieldset>
</div>
{% endblock %}
