{% set title = 'Style guide' %}
{% extends 'layouts/guide.html' %}

{% block content %}
<ul class="guide-index-list" id="guide-index-list">
	<li><a href="alerts">Alerts</a></li>
	<li><a href="buttons">Buttons</a></li>
	<li><a href="color">Colour</a></li>
	<li><a href="forms">Forms</a></li>
	<li><a href="/assets/icons/renders/sprite.symbol.html">icon sprite</a></li>
	<li><a href="typography">Typography</a></li>
</ul>
{% endblock %}

{% block script %}
{% endblock %}