{% set title = 'Typography' %}
{% extends 'layouts/guide.html' %}

{% block content %}

<div style="max-width: 680px;">
  <div class="guide-section">
    <h1 class="heading">HTML default element set</h1>
    <h1>H1: Clean render</h1>
    <h2>H2: Clean render</h2>
    <h3>H3: Clean render</h3>
    <h4>H4: Clean render</h4>
    <h5>H5: Clean render</h5>
    <h6>H6: Clean render</h6>
    <p>P: Clean render: You can have properly indented paragraphs within list items. Notice the blank line above, and the leading spaces (at least one, but we'll use three here to also align the raw Markdown).</p>
    <ul>
      <li>Unordered: Clean render</li>
      <li>Unordered: Clean render</li>
      <li>Unordered: Clean render
        <ul>
          <li>Unordered: Clean render</li>
          <li>Unordered: Clean render</li>
        </ul>
      </li>
    </ul>

    <ol>
      <li>Ordered: Clean render</li>
      <li>Ordered: Clean render
        <ol>
          <li>Unordered: Clean render</li>
          <li>Unordered: Clean render</li>
        </ol>
      </li>
    </ol>
  </div>

  <div class="guide-section">
    <h4 class="typeXXL heading">Extra Extra Large Heading test wrapping and rhythm</h4>
    <br>
    <h4 class="typeXL heading">Extra Large Heading test wrapping and rhythm</h4>
  </div>

  <div class="guide-section">
    <h4 class="typeL heading">Large heading test wrapping and rhythm</h4>
    <h5 class="typeM heading">Medium heading test wrapping and rhythm</h5>
    <h5 class="typeMe heading">Median heading (default text size) test wrapping and rhythm</h5>
    <h6 class="typeS heading">Small heading test wrapping and rhythm</h6>
    <h6 class="typeXS heading">Extra Small heading test wrapping and rhythm</h6>
  </div>

  <div class="guide-section">
    <h3 class="typeXL heading">General text tests</h3>
    <p class="text">You can have properly indented paragraphs within list items. Notice the blank line above, and the leading spaces (at least one, but we'll use three here to also align the raw Markdown).</p>
    <p class="text">You can have properly indented paragraphs within list items. Notice the blank line above, and the leading spaces (at least one, but we'll use three here to also align the raw Markdown).</p>

    <ul class="unordered_list">
      <li>Unordered: Clean render</li>
      <li>Unordered: Clean render</li>
      <li>Unordered: Clean render
        <ul>
          <li>Unordered: Clean render</li>
          <li>Unordered: Clean render</li>
        </ul>
      </li>
    </ul>

    <ol class="ordered_list">
      <li>Ordered: Clean render</li>
      <li>Ordered: Clean render
        <ol>
          <li>Ordered: Clean render</li>
          <li>Ordered: Clean render</li>
        </ol>
      </li>
    </ol>

    <ol class="simple_list">
      <li>Simple: Clean render</li>
      <li>Simple: Clean render
        <ol>
          <li>Simple: Clean render</li>
          <li>Simple: Clean render</li>
        </ol>
      </li>
    </ol>
  </div>

  <div class="guide-section">
    <div class="typebase">
        <h1>Header test typeset article style text</h1>
        <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>
        <p><em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim in turpis pulvinar facilisis. Ut felis.</a></p>

        <h2>Header Level 2</h2>
        <ol>
         <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
         <li>Aliquam tincidunt mauris eu risus.</li>
        </ol>

        <blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p></blockquote>

        <h3>Header Level 3</h3>
        <ul>
         <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
         <li>Aliquam tincidunt mauris eu risus.</li>
        </ul>

        <h4>Header level 4</h4>
        <p><em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>

        <h5>Header level 5</h5>
        <p><em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>

        <h6>Header level 6</h6>
        <p><em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>
    </div>
  </div>
</div>

{% endblock %}
