{# Place button where needed in the DOM. The might mean moving it from this include #}
<button role="button" class="navigation-primary-toggle" id="navigation-primary-toggle"><span>Menu</span></button>

<nav class="navigation-primary" role="navigation" id="navigation-primary">
	<ul class="navigation-primary__items" id="navigation-primary__items">
		{% for item in navigation_primary %}
			{% if item.hidden == false %}
				{% if section == item.in_section %}
					<li class='navigation-primary__item navigation-primary__item--active'><a href="{% if item.path %}{{ item.path }}{% else %}#link{% endif %}">{{ item.label }}</a></li>
				{% else %}
					<li class='navigation-primary__item'><a href="{% if item.path %}{{ item.path }}{% else %}#link{% endif %}">{{ item.label }}</a></li>
				{% endif %}
			{% endif %}
		{% endfor %}
		<li class="navigation-primary__item navigation-primary__item--ss-only"><a href="#">Secondary menu item for mobile</a></li>
		<li class="navigation-primary__item navigation-primary__item--ss-only">
			<form action="" role="search" method="get">
				<input type="text" placeholder="Search&hellip;" aria-label="Search the site" />
				<button class="button">Search</button>
			</form>
		</li>
	</ul>
</nav>