<nav role="navigation" class="navigation-secondary">
	<ul class="navigation-secondary__items">
		{% for item in navigation_secondary %}
			{% if item.hidden == false %}
				{% if section == item.in_section %}
					<li class='navigation-secondary__item navigation-secondary__item--active'><a href="{% if item.path %}{{ item.path }}{% else %}#link{% endif %}">{{ item.label }}</a></li>
				{% else %}
					<li class='navigation-secondary__item'><a href="{% if item.path %}{{ item.path }}{% else %}#link{% endif %}">{{ item.label }}</a></li>
				{% endif %}
			{% endif %}
		{% endfor %}
	</ul>
</nav>
