<header class="header">
	<div class="row">
		<nav role="navigation" class="navigation-secondary">
	<ul class="navigation-secondary__items">
		
			
				
					<li class='navigation-secondary__item'><a href="/contact/">Contact</a></li>
				
			
		
	</ul>
</nav>

		<div class="header-search">
			<form action="/search/" role="search" method="get">
				<label for="" class="header-search__label">Site search</label>
				<input type="text" placeholder="Search&hellip;" aria-label="Search the site" autofocus/>
				<button><span>Search</span></button>
			</form>
		</div>
		<a href="/" rel="home" class="header__logo">Client name</a>
		
<button role="button" class="navigation-primary-toggle" id="navigation-primary-toggle"><span>Menu</span></button>

<nav class="navigation-primary" role="navigation" id="navigation-primary">
	<ul class="navigation-primary__items" id="navigation-primary__items">
		
			
				
					<li class='navigation-primary__item'><a href="/page-template/">Standard Page</a></li>
				
			
		
			
				
					<li class='navigation-primary__item'><a href="/listing-template/">Listing Page</a></li>
				
			
		
			
				
					<li class='navigation-primary__item'><a href="/grid-template/">Grid Page</a></li>
				
			
		
			
				
					<li class='navigation-primary__item'><a href="/grid-template-events/">Grid Page - Events</a></li>
				
			
		
			
				
					<li class='navigation-primary__item'><a href="/contact-template/">Contact Page</a></li>
				
			
		
		<li class="navigation-primary__item navigation-primary__item--ss-only"><a href="#">Secondary menu item for mobile</a></li>
		<li class="navigation-primary__item navigation-primary__item--ss-only">
			<form action="" role="search" method="get">
				<input type="text" placeholder="Search&hellip;" aria-label="Search the site" />
				<button class="button">Search</button>
			</form>
		</li>
	</ul>
</nav>
	</div>
</header>
