@use 'sass:math';

// ------------------------------------------------------------
// Alerts
// ------------------------------------------------------------

.alert {
	padding: $internal-spacing;
	position: relative;
	p {
		font-size: rem($typeS);
		max-width: 80%;
	}
}

.alert--notice {
	padding-left: $internal-spacing * .5;
	padding-right: $internal-spacing * .5;
	color: $cHeading;
	background: $cAlert; // Triple A Compliant
}

.alert--error {
	@extend .alert--notice;
	background: lighten($cError, 15%); // Triple A Compliant
	color: #fff;
}

.alert--success {
	@extend .alert--notice;
	background: lighten($cSuccess, 20%); // Triple A Compliant
}