@use 'sass:math';

.aside {
	padding: $internal-spacing;
	border-radius: 5px;
	border: 1px solid $cHaze;
	+ .aside {
		margin-top: $internal-spacing;
	}
}

.aside__heading {
	@extend .heading;
	font-size: rem($typeM);
	margin-bottom: math.div($internal-spacing,2);
}

.aside__subheading {
	@extend .heading;
	font-size: rem($typeMe);
	margin-bottom: math.div($internal-spacing,2);
}

.aside__copy {
	font-size: rem($typeDefault);
	margin-bottom: math.div($internal-spacing,2);
}

.aside__list {
	list-style: none;
	font-size: rem($typeDefault);
	&__heading {
		@extend .heading;
		display: block;
		&--inline {
			display: inline-block;
		}
	}
	li {
		margin-bottom: math.div($internal-spacing,3);
	}
	&__active {
		a {
			color: $cGreen;
			border-bottom-color: $cGreen;
		}
	}
}