@use 'sass:math';

// Button defaults
// ------------------------------------------------------------------

// Button base style
%button {
	cursor: pointer;
	font-weight: $fontSemiBold;
	position: relative;
	padding: 0 $btnPadding;
	vertical-align: middle;
	text-align: left;
	color: $cLabel;
	text-decoration: none;
	display: inline-block;
	border-radius: $btnRadius;
	transition-property: color;
	transition-duration: 0.5s;
	background-image: none;
	text-align: center;
	transition: background-color linear 0.3s;
	border: 1px solid transparent;
	span {
		font-size: inherit;
		font-weight: inherit;
	}
	&:focus {
		outline: none;
	}
}

// Sizes
// ------------------------------------------------------------------

.button,
a.button,
button.button {
	@extend %button;
	font-size: rem($typeS);
	line-height: $btnDefault;
	background-color: $cButtonPrimary;
	border-color: darken($cButtonPrimary, 5%);
	transition-duration: 0.1s;
	&:before {
		content: '';
		position: absolute;
		border-style: solid;
		border-width: 3px;
		border-color: darken($cButtonPrimary, 5%);
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		animation-duration: 1s;
		border-radius: $btnRadius*2;
		opacity: 0;
	}
	@include link-active-styles {
		text-decoration: none;
		transition-duration: 0.1s;
		&:before {
			animation-name: hvr-ripple-out;
			animation-duration: 1s;
		}
	}

	// Sizes
	&--small {
		font-size: rem($typeS);
		line-height: $btnSmall;
		padding: 0 $btnPaddingSmall;
	}

	// Types
	&--primary {
		color: $cIce;
		@include link-active-styles {
			color: $cIce;
		}
	}
	&--secondary {
		background-color: $cButtonSecondary;
		border-color: $cButtonSecondary;
		color: $cIce;
		&:before {
			animation-duration: 3.5s;
		}
		@include link-active-styles {
			color: $cIce;
			background-color: $cButtonSecondary;
			&:before {
				border-color: $cButtonSecondary;
			}
		}
	}
	&--icon {
		padding-right: $btnPadding*3;
		text-align: left;
		svg {
			position: absolute;
			top: 50%;
			right: $btnPadding*.8;
			transform: translateY(-50%);
			transition-duration: 0.3s;
			transition-property: transform;
			transition-timing-function: ease-out;
			transform-origin: top;
			height: 16px;
			width: 16px;
			display: block;
		}
		@include link-active-styles {
			svg {
				animation-name: hvr-icon-pop;
				animation-duration: 0.3s;
				animation-timing-function: linear;
				animation-iteration-count: 1;
			}
		}
		&.button--primary {
			svg  {
				fill: #fff;
			}
		}
	}
	&--disabled {
		cursor: not-allowed;
		opacity: 0.3;
		filter: grayscale(100%);
		color: $cSmoke;
		&:focus {
			outline: none;
			text-decoration: none;
		}
		@include link-active-styles {
			text-decoration: none;
		}
	}
	&--block {
		display: block;
	}
}
