@use 'sass:math';

.card {
    position: relative;
    background-color: $cHaze;
    border-radius: $border-radius;
    display: block;
    // overflow: hidden;
    .section--highlight & {
        border: 1px solid $cBorder;
    }
    .grid__col & {
        margin-top: $internal-spacing;
        &:first-child {
            margin-top: 0;
        }
    }
    &--horizontal {
        display: flex;
        min-height: 200px;
    }
}

a.card {
    border-bottom: none;
    transition: all, ease-in-out, 0.3s;
    @include link-active-styles {
        .card__heading {
            color: $cGreen;
        }
        .button {
            background-color: $cButtonSecondary;
            box-shadow: 0px 4px 10px rgba($cButtonSecondary, 0.25);
        }
    }
}

.card__media {
    overflow: hidden;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    display: none;
    background-color: $cCloud;
    min-height: 250px;
    @include respond-to($vpC) {
        display: block;
    }
    .card--horizontal & {
        @include respond-to($vpB) {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30%;
            min-height: auto;
        }
    }
}

a.card__media {
    border-bottom: none;
}

.card__event {
    text-align: center;
    max-width: 80%;
    color: $cHaze;
    @extend .heading;
}

.card__event-day {
    font-size: rem($typeXXL*1.5);
    line-height: 1;
    display: block;
}

.card__event-month, .card__event-year {
    font-size: rem($typeXL);
    line-height: 1;
    display: block;
}

// .card__title {
//     padding: $internal-spacing $internal-spacing 0 $internal-spacing;
//     z-index: 5;
//     position: relative;
//     @include respond-to($vpB) {
//         padding: $internal-spacing $internal-spacing 0 $internal-spacing;
//     }
//     .card__media {
//         margin: 0;
//         margin-right: $internal-spacing;
//         @include respond-to($vpB) {
//           margin-right: $internal-spacing;
//         }
//     }
//     .card__heading {
//         margin-bottom: 0;
//     }
// }

.card__content {
    padding: $internal-spacing;
    z-index: 5;
    position: relative;
    @include respond-to($vpB) {
        padding: $internal-spacing;
	}
    .card--horizontal & {
        width: 100%;
        flex: 1;
        @include respond-to($vpC) {
            width: 70%;
        }
    }
}

.card__heading {
    @extend .heading;
    font-size: rem($typeL);
    margin-bottom: $internal-spacing;
    line-height: 1.3;
    transition: all, ease-in-out, 0.3s;
}

.card__excerpt {
    font-size: rem($typeDefault);
    margin-bottom: $internal-spacing;
}

.card__meta {
    position: relative;
    font-size: rem($typeDefault);
    list-style: none;
    margin-bottom: $internal-spacing;
    li {
        margin-bottom: 5px;
        svg {
            width: 17px;
            height: 17px;
            vertical-align: text-top;
            margin-right: 10px;
            display: inline-block;
            fill: $cGreen;
        }
    }
    &:last-child {
        margin-bottom: 0;
    }
}


.card__tab {
    font-size: rem($typeS);
    background-color: $cCloud;
    color: $cIce;
    padding: 0.5em 1em;
    margin-bottom: $internal-spacing*.5;
    display: inline-block;
    line-height: 1.3;
    @include respond-to($vpC) {
        max-width: 30%;
    }
    .card--horizontal & {
        @include respond-to($vpC) {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}