@use 'sass:math';

.form {
	position: relative;
	margin-top: $internal-spacing;
}

.fieldset {
	border: none;
	padding: 0;
}

.form-legend {
	font-size: rem($typeM);
	color: $cLabel;
}


// Labels
.form-label {
	font-size: rem($typeMe);
	color: $cLabel;
	&--hidden {
		@include a11yhide;
	}
}

// Legend
.form-legend {
	font-size: rem($typeM);
	color: $cLabel;
}

// Form field wrapper
.form-field {
	position: relative;
	@include pie-clearfix;
	&--spaced {
		padding-top: math.div($internal-spacing,1.5);
	}
	&--error {
		.form-item {
			border-color: $cError;
			&:focus {
				border-color: $cError;
			}
		}
		.form-label {
			color: $cError;
		}
	}
	&--check-radio {
		position: relative;
		display: block;
		@include respond-to($vpB) {
			display: inline-block;
		}
		> .form-label {
			margin-bottom: 12px;
			display: block;
		}
	}
	&--select-button {
		@include pie-clearfix;
		.form-field__select {
			float: left;
			position: relative;
			select {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
		}
		.button {
			float: left;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
	&__pair {
		@include respond-to($vpC) {
			width: 49.5%;
			margin-left: 1%;
			display: inline-block;
			margin-bottom: 0;
			float: left;
			&:first-child {
				margin-left: 0;
			}
		}
	}
	&__triplet {
		@include respond-to($vpC) {
			width: 32.5%;
			margin-bottom: 0;
			margin-left: 1.25%;
			display: inline-block;
			margin-bottom: 0;
			float: left;
			&:first-child {
				margin-left: 0;
			}
		}
	}
	.hint {
		font-size: rem($typeXS);
		padding-top: 6px;
		clear: left;
		display: block;
	}
	&__error__message {
		color: $cError;
		display: none;
		font-size: rem($typeXS);
		padding-top: 6px;
		clear: left;
		&--visible {
			display: block;
		}
	}
}

// Standard form elements
.form-item {
	padding: 10px;
	display: block;
	border: $strokeWidth solid $cBorder;
	appearance: none;
	background-color: #fff;
	height: $formItem;
	width: 100%;
	font-size: 16px; // Stop IOS doing the zoom thing
	border-radius: $btnRadius;
	&::focus-inner {
		border: 0;
		padding: 0;
	}
	&:focus {
		outline: none;
		border-color: $cLabel;
	}
	&--small {
		height: math.div($formItem,1.25);
	}
}

// Turn off spinners for number input field, as flipping ugly
.form-item[type=number]::-webkit-inner-spin-button,
.form-item[type=number]::-webkit-outer-spin-button {
	appearance: none;
}

// Min height to text area
textarea.form-item {
	min-height: 200px;
}

// File form item
.form-item-file {
	display: block;
	font-size: rem($typeMe);
	color: $cLabel;
}

// Radio and Checkboxes baseline
// -----------------------

.form-field__radiobuttons,
.form-field__checkboxes {
	label {
		position: relative;
		top: 0;
		vertical-align: middle;
		&:after {
			clear: left;
			content: "";
			display: block;
			height: 0;
		}
	}
	input {
		float: left;
		margin-right: 12px;
		vertical-align: middle;
		&:after {
			clear: left;
			content: "";
			display: block;
			height: 0;
		}
	}
	input[type="radio"],
	input[type="checkbox"] {
		width: 16px;
		height: 16px;
		position: relative;
		top: 4px;
	}
	input[type="radio"] {
		width: 16px;
		height: 16px;
		position: relative;
		top: 3px;
	}
}

// Select baseline
// -----------------------

.form-field__select {
	background-color: #fff;
	height: $formItem;
	select {
		width: 100%;
		display: block;
		height: $formItem;
		padding: 2px 15px 0 15px;
		vertical-align: middle;
		border: $strokeWidth solid $cBorder;
		appearance: none;
		-moz-appearance: window; // Hides firefox native select arrow
		background: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='%23444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>") #fff no-repeat right 47%;
		background-origin: content-box;
		background-size: 22px 19px;
		border-radius: 0;
		font-size: 16px;
		border-radius: $btnRadius;
		&:hover, &:focus {
			border-color: $cLabel;
			cursor: pointer;
		}
		&:focus {
			outline: none;
		}
		&::-ms-expand {
			display: none;
		}
		.formfieldError & {
			border-color: $cError;
		}
		option {
			max-width: 90%;
		}
	}
	&--small {
		height: math.div($formItem,1.25);
		select {
			height: math.div($formItem,1.25);
		}
	}
}
