@use 'sass:math';

.hero {
    @include pie-clearfix;
    position: relative;
    background-color: $cGreen;
    padding-bottom: $internal-spacing;
}

.hero__main {
    padding-top: $internal-spacing;
    .hero--image &, .hero--article & {
        position: relative;
        background-size: cover;
        background-position: center;
        padding-top: 0;
        padding-bottom: 0;
        @include ratio(4 3);
        @include respond-to($vpC) {
            @include ratio(16 9);
        }
    }
    .button {
        position: absolute;
        left: $internal-spacing;
        bottom: $internal-spacing;
    }
}

.hero__caption {
    margin-bottom: $internal-spacing;
    .typebase {
        color: #fff;
        a {
            color: #fff;
        }
        + .button {
            margin-top: $internal-spacing;
        }
    }
    .button {
        position: relative;
        left: 0;
        top: 0;
    }
    @include respond-to($vpC) {
        width: 50%;
        float: left;
        margin-bottom: 0;
    }
    .hero--image & {
        padding: $internal-spacing;
        z-index: 2;
        background-color: rgba($cHaze, 0.8);
        @include respond-to($vpC) {
            position: absolute;
            max-width: 60%;
            float: none;
            width: auto;
            height: auto;
            left: $internal-spacing;
            bottom: $internal-spacing;
            padding: $internal-spacing;
        }
        .typebase {
        	color: $cSmoke;
        }
    }
}

.hero__aside {
    @include respond-to($vpC) {
        width: 45%;
        float: right;
        .grid_col & {
            width: 100%;
        }
    }
}

.hero__media {
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
    @include ratio(16 9);
    border-radius: 5px;
    object,embed,iframe  {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
    }
    .hero--article & {
        margin-top: $internal-spacing;
    }
}

.hero__heading {
    @extend .heading;
    font-size: rem($typeXL);
    line-height: 1.2;
    margin-bottom: $internal-spacing;
    color: #fff;
    @include respond-to($vpC) {
        font-size: rem($typeXXL);
    }
    .hero--image & {
        color: $cSmoke;
        position: relative;
        top: 0;
    }
    .hero--article & {
        max-width: 70%;
    }
    a {
        color: #fff;
    }
}


.hero__meta {
    list-style: none;
    font-size: rem($typeDefault);
    margin: math.div($internal-spacing,1.5) 0 math.div($internal-spacing,2) 0;
    li {
        display: inline-block;
        margin-right: math.div($internal-spacing,2);
        color: #fff;
        svg {
            width: 17px;
            height: 17px;
            vertical-align: text-top;
            margin-right: 10px;
            display: inline-block;
            fill: #fff;
        }
        a {
            color: #fff;
            border-color: #fff;
        }
    }
}