// List
// ------------------------------------------------------------

.m-list {
    list-style: none;
    font-size: rem($typeDefault);
    margin:  $internal-spacing 0;
    &--columns {
        columns: 1;
        @include respond-to($vpB) {
            columns: 2;
        }
        @include respond-to($vpC) {
            columns: 3;
        }
    }
}