@use 'sass:math';

.listing-item {
    @include pie-clearfix;
    position: relative;
    margin-bottom: $internal-spacing*2;
    padding-bottom: $internal-spacing*2;
    border-bottom: 1px solid $cHaze;
    &:last-of-type {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    &__media {
        margin-bottom: $internal-spacing;
    }
    @include respond-to($vpB) {
        display: flex;
        &__media {
            margin-bottom: 0;
            width: 25%;
            float: left;
        }
        &__content {
            width: 75%;
            float: left;
            flex: 1;
        }
    }
}

.listing-item__media {
    img {
        max-width: 100%;
    }
    + .listing-item__content {
        @include respond-to($vpB) {
            padding-left: $internal-spacing*2;
        }
    }
}

.listing-item__content {

}

.listing-item__heading {
    @extend .heading;
    font-size: rem($typeL);
    line-height: 1.4;
    margin-bottom: math.div($internal-spacing,2);
}

.listing-item__subheading {
    font-size: rem($typeS);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: math.div($internal-spacing,2);
}

.listing-item__meta {
    list-style: none;
    font-size: rem($typeDefault);
    margin: math.div($internal-spacing,1.5) 0 math.div($internal-spacing,0);
    li {
        display: inline-block;
        margin-right: math.div($internal-spacing,2);
        svg {
            width: 17px;
            height: 17px;
            vertical-align: text-top;
            margin-right: 10px;
            display: inline-block;
            fill: $cSmoke;
        }
    }
}