// Maps
// ------------------------------------------------------------

.m-map {
	@include ratio(16 9);
	position: relative;
	overflow: hidden;
	background-color: $cHaze;
	margin-bottom: $internal-spacing;
}

.m-map__location {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}