@use 'sass:math';

.media-video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
	clear: both;
	.typebase & {
		margin: $internal-spacing 0;
	}
	object,embed,iframe  {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.wp-caption, .media-figure {
    margin: math.div($internal-spacing*2,1.5) 0;
    img {
        @extend .max-width;
    }
}

.wp-caption-text, .media-figure__caption {
    margin-top: 10px;
    border-left: 3px solid $cGreen;
    padding-left: 10px;
    font-size: rem($typeS);
}

.alignleft, .left {
    float: left;
    margin: math.div($internal-spacing*2,1.5) math.div($internal-spacing*2,1.5) 0 0;
    img {
        @extend .max-width;
    }
}

.alignright, .right {
    float: right;
    margin: math.div($internal-spacing*2,1.5) 0 0 math.div($internal-spacing*2,1.5);
    img {
        @extend .max-width;
    }
}

// Wagtail edit button override
.wagtail-userbar__item a {
    border-bottom: none !important;
}
