
// ------------------------------------------------------------
// Navigation
// ------------------------------------------------------------

.navigation-primary {
	display: block;
	margin-top: 1.5em;
	color: $cIce;
	@include respond-to-max($vpMenu) {
		overflow: hidden;
	}
	@include respond-to($vpMenu) {
		position: absolute;
		right: 0;
		top: $internal-spacing;
	}
}

.navigation-primary-toggle {
	position: absolute;
	top: $internal-spacing*2;
	right: $internal-spacing;
	width: 50px;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	cursor: pointer;
	padding: 12px 0;
	&:before, &:after {
		content: "";
		position: absolute;
		height: 2px;
		width: 50px;
        background-color: #fff;
        transition: all, ease-in-out, 0.3s;
        border-radius: 5px;
	}
	&:before {
		top: -2px;
		left: 0;
	}
	&:after {
		bottom: -2px;
        left: 0;
    }
	@include respond-to($vpMenu) {
		display: none;
	}
}

.navigation-primary-toggle--open {
	span {
        opacity: 0;
    }
    &:before {
        transform: rotate(45deg);
        width: 50px;
        top: 20px;
    }
    &:after {
        transform: rotate(-45deg);
        width: 50px;
        bottom: 20px;
	}
}

.navigation-primary__items {
	position: relative;
	transition: max-height ease-in-out 0.25s;
	@include respond-to-max($vpMenu) {
		html.js & {
			max-height: 0;
		}
	}
}

.navigation-primary__items--open {
	html.js & {
		max-height: 800px;
		width: 100%;
		left: 0;
		background-color: $cCloud;
	}
}

.navigation-primary__item {
	@include pie-clearfix;
	display: block;
	font-size: rem($typeDefault);
	a {
		color: $cIce;
		border-bottom: $default-border-width solid $cSmoke;
		display: block;
		@include edgeBufferTop(padding);
		@include edgeBufferBottom(padding);
	}
	@include respond-to($vpMenu) {
		display: inline-block;
		float: left;
		a {
			background: $cCloud;
			padding: 5px $internal-spacing;
			border-bottom: 0;
			transition: all ease-in-out, 0.2s;
			border-bottom: 4px solid transparent;
			@include link-active-styles {
				border-color: $cOrange;
			}
		}
	}
	// For search field
	&:last-child {
		border-bottom: none;
		// @include edgeBufferTop(padding);
		@include edgeBufferBottom(margin);
	}
	form {
		position: relative;
	}
	input {
		padding: 0.75em 1.5em;
		width: 100%;
		background-color: #fff;
		border: none;
		border-radius: 1.5em;
	}
	button {
		color: $cHeading;
		text-align: center;
		display: inline-block;
		padding: 0.6em 1.5em;
		position: absolute;
		top: 0;
		right: 0;
		border-top-right-radius: 1.5em;
		border-bottom-right-radius: 1.5em;
	}
	// end of search field
}

.navigation-primary__item--ss-only {
	@include respond-to($vpMenu) {
		display: none;
	}
}

.navigation-primary__item--active {
	a {
		color: $cHeading;
		background-color: darken($cHaze,10%);
		@include respond-to-max($vpMenu) {
			padding-left: $internal-spacing;
		}
	}
	@include respond-to($vpMenu) {
		text-indent: 0;
		a {
			border-color: $cIce;
		}
	}
}

// ------------------------------------------------------------
// Secondary Navigation
// ------------------------------------------------------------

.navigation-secondary {
	display: none;
	@include respond-to($vpMenu) {
		display: block;
		position: absolute;
		top: 0;
		right: 200px;
	}
}

.navigation-secondary__items {
	@include pie-clearfix;
	margin-top: 2px;
}

.navigation-secondary__item {
	font-size: rem($typeS);
	float: left;
	display: inline-block;
	a {
		@include edgeBufferLeft(padding);
		@include edgeBufferRight(padding);
		padding-top: 5px;
		padding-bottom: 5px;
		color: #fff;
		border-bottom: none;
		&:hover {
			text-decoration: underline;
		}
	}
	&:first-child {
		padding-left: 0;
	}
}

.navigation-secondary__item--active {
	text-decoration: underline;
}