// Text highlight
// ------------------------------------------------------------

.m-highlight {
    background-color: $cYellowGreen;
    padding: 0 2px;
}

// Search
// ------------------------------------------------------------

.m-search {
    background-color: $cHaze;
    padding: $internal-spacing;
    border-radius: 5px;
    @include respond-to($vpC) {
        padding: $internal-spacing*2;
    }
    form {
        position: relative;
        button {
            position: absolute;
            top: 35px;
            right: 10px;
            cursor: pointer;
            svg {
                width: 20px;
                height: 20px;
            }
        }
    }
}