.wp-caption, .media-figure {
    margin: $bufferSpaceM/1.5 0;
    img {
        @extend .max-width;
    }
}

.media-video-wrapper {
    display: block;
    margin: 0;
    position: relative;
    margin: $bufferSpaceM/1.5 0;
	@include ratio(16 9);
	object,embed,iframe  {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.wp-caption-text, .media-figure__caption {
    margin-top: 10px;
    border-left: 3px solid $cTurquoise;
    padding-left: 10px;
    font-size: rem($typeS);
}

.alignleft, .left {
    float: left;
    margin: $bufferSpaceM/1.5 $bufferSpaceM/1.5 0 0;
    img {
        @extend .max-width;
    }
}

.alignright, .right {
    float: right;
    margin: $bufferSpaceM/1.5 0 0 $bufferSpaceM/1.5;
    img {
        @extend .max-width;
    }
}

// Wagtail edit button override
.wagtail-userbar__item a {
    border-bottom: none !important;
}
