// ------------------------------------------------------------
// Wordpress WYSIWYG control

// Wrapped in an 'as-wysiwyg' control class to avoid conflicts
// ------------------------------------------------------------

.as-wysiwyg {
	img {
		@extend %max-width;
		@include trailer($internal-spacing);
		display: block;
		vertical-align: middle;
	}

	.alignnone {
		clear: both;
	}
	.wp-caption {
		@include leader($internal-spacing);
		@include trailer($internal-spacing);
		clear: both;
		position: relative;
		padding: $internal-spacing;
		max-width: 650px;
		p.wp-caption-text {
			border-left: 2px solid $cw-nhs-blue;
			color: $cw-charcoal;
			font-size: 80%;
			@include padding-left(5);
			@include leader(10);
			font-style: italic;
		}
		img {
			vertical-align: top;
			margin-top: 0;
			height: auto;
			display: block;
			display: inline-block;
			margin-bottom: 0;
		}
	}

	.wp-smiley {
		display: none!important; // They're darn ugly
	}

	.alignleft {
		@include respond-to($c-vp, true) {
			float: left;
			display: inline-block;
			margin-right: 2em;
			margin-bottom: 1em;
			max-width: 450px;
		}
	}

	.alignright {
		@include respond-to($c-vp, true) {
			float: right;
			display: inline-block;
			margin-left: 3em;
			margin-bottom: 1em;
			max-width: 450px;
		}
	}

	.aligncenter {
		margin-right: auto;
		margin-left: auto;
		display: inline-block;
		vertical-align: top;
		clear: both;
	}
}