<label class="form-label" for="checkbox-group">Label</label>
<div id="checkbox-group" class="form-field__error">
	<div class="form-field__checkboxes form-field__checkboxes--styled">
		<input type="checkbox" name="checkbox" id="checkbox" />
		<label class="form-label" for="checkbox">Checkbox</label>
		<input type="checkbox" name="checkbox" id="checkbox-2" />
		<label class="form-label" for="checkbox-2">Checkbox</label>
	</div>
	<p class="form-field__error__message">You must select at least on option</p>
</div>