{% import 'partials/macros/button.html' as btn %}

{% macro standard(image, heading, date, description, button) %}
    <a href="#" class="card">
        <div class="card__media" style="background-image: url(/assets/img/{{ image }});"></div>
        <div class="card__content">
            <h3 class="card__heading">{{ heading | safe | trim }}</h3>
            <ul class="card__meta">
                <li><svg class="icon-calendar-svg"><use xlink:href="/assets/icons/renders/sprite.svg#calendar"></use></svg>{{ date | safe | trim }}</li>
            </ul>
            <p class="card__excerpt">{{ description }}</p>
            {% if button %}
                <div class="button button--a11y" title="{{ button }}"><span>Read more about {{ heading }}</span></div>
            {% endif %}
        </div>
    </a>
{% endmacro %}

{% macro news(image, type, heading, author, date) %}
    <a href="#" class="card">
        <div class="card__media" style="background-image: url(/assets/img/{{ image }});"></div>
        <div class="card__content">
            <span class="card__tab">{{ type | safe | trim }}</span>
            <h3 class="card__heading">{{ heading | safe | trim }}</h3>
            <p class="card__excerpt">{{ description }}</p>
            <ul class="card__meta">
                <li><svg class="icon-author-svg"><use xlink:href="/assets/icons/renders/sprite.svg#author"></use></svg>{{ author | safe | trim }}</li>
                <li><svg class="icon-calendar-svg"><use xlink:href="/assets/icons/renders/sprite.svg#calendar"></use></svg>{{ date | safe | trim }}</li>
            </ul>
        </div>
    </a>
{% endmacro %}

{% macro event(day, month, year, type, heading, location, date) %}
    <a href="#" class="card card--horizontal">
        <div class="card__media">
            <div class="card__event">
                <span class="card__event-day">{{ day }}</span>
                <span class="card__event-month">{{ month }}</span>
                <span class="card__event-year">{{ year }}</span>
            </div>
        </div>
        <div class="card__content">
            <span class="card__tab">{{ type | safe | trim }}</span>
            <h3 class="card__heading">{{ heading | safe | trim }}</h3>
            <ul class="card__meta">
                <li><svg class="icon-calendar-svg"><use xlink:href="/assets/icons/renders/sprite.svg#calendar"></use></svg>{{ date | safe | trim }}</li>
                <li><svg class="icon-location-svg"><use xlink:href="/assets/icons/renders/sprite.svg#location"></use></svg>{{ location | safe | trim }}</li>
            </ul>
        </div>
    </a>
{% endmacro %}