{# 1. Extend the relevant layout #}
{# --------------------------------------- #}

{% extends 'layouts/default.html' %}

{# --------------------------------------- #}
{# 2. Assign Settings and variables #}
{# --------------------------------------- #}

{% set section = '' %}
{% set id = '' %}
{% set title = 'This page has been moved or missing' %}
{% set description = "Sorry about that. Please use the navigation above to explore the website or contact us if you still can’t find what you’re looking for." %}

{# --------------------------------------- #}
{# 3. Add models and macros #}     
{# --------------------------------------- #}

{% import 'partials/macros/button.html' as btn %}

{# --------------------------------------- #}
{#
   4. Add page content into relevant areas
      Add/Delete blocks as necessary
#}
{# --------------------------------------- #}

{% block hero %}
{% endblock %}

{% block body %}
    <section class="section">
        <div class="row">
            <header class="section__header">
                <h2 class="section__heading">{{ title }}</h2>
                <div class="typebase">
                    <p>{{ description }}</p>
                </div>
            </header>
            <div class="typebase">
                <h4>Some things that might be helpful</h4>
                <ul>
                    <li>Report this link as broken by emailing <a href="mailto:">info@girlsnotbrides.org</a></li>
                    <li><a href="#">Our homepage</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}

{% block after_content %}
{% endblock %}

{% block script %}
{% endblock %}