{# 1. Extend the relevant layout #}
{# --------------------------------------- #}

{% extends 'layouts/default.html' %}

{# --------------------------------------- #}
{# 2. Assign Settings and variables #}
{# --------------------------------------- #}

{% set section = '' %}
{% set id = '' %}
{% set title = 'Error 500' %}
{% set description = "Oops, something went wrong" %}

{# --------------------------------------- #}
{# 3. Add models and macros #}     
{# --------------------------------------- #}

{% import 'partials/macros/button.html' as btn %}

{# --------------------------------------- #}
{#
   4. Add page content into relevant areas
      Add/Delete blocks as necessary
#}
{# --------------------------------------- #}

{% block header %}
{% endblock %}

{% block hero %}
{% endblock %}

{% block body %}
    <section class="section">
        <div class="row">
            <header class="section__header">
                <h2 class="section__heading">{{ title }}</h2>
                <div class="typebase">
	                <p>{{ description }}</p>
	             </div>
            </header>
            </div>
        </div>
    </section>
{% endblock %}

{% block after_content %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
{% endblock %}
