{# 1. Extend the relevant layout #}
{# --------------------------------------- #}

{% extends 'layouts/default.html' %}

{# --------------------------------------- #}
{# 2. Assign Settings and variables #}
{# --------------------------------------- #}

{% set section = 'contact' %}
{% set id = 'contact' %}
{% set title = 'Contact' %}

{# --------------------------------------- #}
{# 3. Add models and macros #}
{# --------------------------------------- #}

{% import 'partials/macros/button.html' as buttons %}
{% import 'partials/heroes/hero.html' as hero %}
{% import 'partials/asides/aside.html' as aside %}

{# --------------------------------------- #}
{#
   4. Add page content into relevant areas
	  Add/Delete blocks as necessary
#}
{# --------------------------------------- #}

{% block hero %}
   {{ hero.standard (
	  heading='Contact'
   ) }}
{% endblock %}

{% block body %}

	<section class="section">
		<div class="row">
			<div class="grid-sidebar">
				<div class="grid-sidebar__main">
					{% include 'partials/forms/form-default.html' %}
				</div>
				<aside class="grid-sidebar__aside">
					{{ aside.map (
						heading='Name of location',
						date='24th December 2021',
						time='9am - 5pm',
						address='123 Ash Road, Bristol, BS7 8RF',
						subheading='Map',
						lat='51.484010',
						long='-2.591300',
						button_label='I am a button'
					) }}
				</aside>
			</div>
		</div>
	</section>

{% endblock %}

{% block after_content %}
{% endblock %}

{% block script %}
{% endblock %}
