{# 1. Extend the relevant layout #}
{# --------------------------------------- #}

{% extends 'layouts/default.html' %}

{# --------------------------------------- #}
{# 2. Assign Settings and variables #}
{# --------------------------------------- #}

{% set section = 'grid-template' %}
{% set id = 'grid-template' %}
{% set title = 'Grid template' %}
{% set code = 'T01.0' %}

{# --------------------------------------- #}
{# 3. Add models and macros #}
{# --------------------------------------- #}

{% import 'partials/cards/card.html' as card %}
{% import 'partials/heroes/hero.html' as hero %}

{# --------------------------------------- #}
{#
   4. Add page content into relevant areas
      Add/Delete blocks as necessary
#}
{# --------------------------------------- #}

{% block hero %}
	{{ hero.standard (
        heading		= 'A grid page template',
        description = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
    ) }}
{% endblock %}

{% block body %}
<div class="section">
	<div class="row">
		<div class="grid-3up">
			{% for item in news %}
				<div class="grid__col">
				{{ card.news (
					image 		= item.image,
					heading		= item.title,
					date 		= item.date,
					author		= item.author,
					type	= item.category,
					description	= item.description
				) }}
				</div>
			{% endfor %}
		</div>
		{% include 'partials/modules/pagination.html' %}
	</div>
</div>
{% endblock %}

{% block after_content %}
{% endblock %}

{% block script %}
{% endblock %}
