{# 1. Extend the relevant layout #}
{# --------------------------------------- #}

{% extends 'layouts/default.html' %}

{# --------------------------------------- #}
{# 2. Assign Settings and variables #}
{# --------------------------------------- #}

{% set section = 'grid-template-events' %}
{% set id = 'grid-template-events' %}
{% set title = 'Grid template - Events' %}
{% set code = 'T01.0' %}

{# --------------------------------------- #}
{# 3. Add models and macros #}
{# --------------------------------------- #}

{% import 'partials/cards/card.html' as card %}
{% import 'partials/heroes/hero.html' as hero %}

{# --------------------------------------- #}
{#
   4. Add page content into relevant areas
      Add/Delete blocks as necessary
#}
{# --------------------------------------- #}

{% block hero %}
	{{ hero.standard (
        heading		= 'A grid page template showing events',
        description = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
    ) }}
{% endblock %}

{% block body %}
<div class="section">
	<div class="row">
		<div class="grid-2up">
			{% for item in events %}
				<div class="grid__col">
				{{ card.event (
					heading		= item.title,
					image 		= item.image,
					date 		= item.date,
					location 	= item.location,
					day 		= item.day,
					month 		= item.month,
					year 		= item.year,
					type 		= item.category
				) }}
				</div>
			{% endfor %}
		</div>
		{% include 'partials/modules/pagination.html' %}
	</div>
</div>
{% endblock %}

{% block after_content %}
{% endblock %}

{% block script %}
{% endblock %}
