{% set title = 'Template list' %}
{% extends 'layouts/guide.html' %}

{% block content %}

<ul class="guide-index-list" id="guide-index-list">
	<li class="complete"><a href="00-404">404 error page</a></li>
	<li class="complete"><a href="00-500">500 error page</a></li>
	<li class="complete"><a href="page-template">Page Template</a></li>
	<li class="complete"><a href="listing-template">Listing Template</a></li>
	<li class="complete"><a href="grid-template">Grid Template</a></li>
	<li class="complete"><a href="grid-template-events">Grid Template - Events</a></li>
	<li class="complete"><a href="contact">Contact Template</a></li>
	<li class="complete"><a href="search">Search Results</a></li>
</ul>

{% endblock %}

{% block script %}{% endblock %}
