{# 1. Extend the relevant layout #}
{# --------------------------------------- #}

{% extends 'layouts/default.html' %}

{# --------------------------------------- #}
{# 2. Assign Settings and variables #}
{# --------------------------------------- #}

{% set section = 'listing-template' %}
{% set id = 'listing-template' %}
{% set title = 'Listing template' %}
{% set code = 'T01.0' %}

{# --------------------------------------- #}
{# 3. Add models and macros #}
{# --------------------------------------- #}

{% import 'partials/macros/button.html' as buttons %}
{% import 'partials/listings/listing.html' as listing %}
{% import 'partials/asides/aside.html' as aside %}
{% import 'partials/heroes/hero.html' as hero %}

{# --------------------------------------- #}
{#
   4. Add page content into relevant areas
      Add/Delete blocks as necessary
#}
{# --------------------------------------- #}

{% block hero %}
	{{ hero.standard (
        video_id	= 'k9NM-yK1C2I',
        heading		= 'A listing page template',
        description = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
    ) }}
{% endblock %}

{% block body %}
<div class="section">
	<div class="row">
		<div class="grid-sidebar">
			<div class="grid-sidebar__main">
				{% for item in news %}
					{{ listing.news (
						image 		= item.image,
						heading		= item.title,
						date 		= item.date,
						author		= item.author,
						category	= item.category,
						description	= item.description
					) }}
				{% endfor %}
				{% include 'partials/modules/pagination.html' %}
			</div>
			<aside class="grid-sidebar__aside">
				{{ aside.news (
					heading		= 'Categories',
					categories 	= categories
				 ) }}
			</aside>
		</div>
	</div>
</div>
{% endblock %}

{% block after_content %}
{% endblock %}

{% block script %}
{% endblock %}
