{# 1. Extend the relevant layout #}
{# --------------------------------------- #}

{% extends 'layouts/default.html' %}

{# --------------------------------------- #}
{# 2. Assign Settings and variables #}
{# --------------------------------------- #}

{% set section = 'page-template' %}
{% set id = 'page-template' %}
{% set title = 'Page' %}
{% set code = 'T01.0' %}

{# --------------------------------------- #}
{# 3. Add models and macros #}
{# --------------------------------------- #}

{% import 'partials/macros/button.html' as buttons %}
{% import 'partials/heroes/hero.html' as hero %}

{# --------------------------------------- #}
{#
   4. Add page content into relevant areas
      Add/Delete blocks as necessary
#}
{# --------------------------------------- #}

{% block hero %}
	{{ hero.standard (
        video_id	= 'kIleLbMtAKs',
        heading		= 'A standard page template',
        description = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ',
        button = 'A button',
        image = '16-9-atmosphere.jpg'
    ) }}
{% endblock %}

{% block body %}
<div class="section">
	<div class="row">
		<div class="typebase max-meter max-meter--center">
			{% include 'partials/content/article-kitchen-sink.html' %}
		</div>
	</div>
</div>
{% endblock %}

{% block after_content %}
{% endblock %}

{% block script %}
{% endblock %}
