{# 1. Extend the relevant layout #}
{# --------------------------------------- #}

{% extends 'layouts/default.html' %}

{# --------------------------------------- #}
{# 2. Assign Settings and variables #}
{# --------------------------------------- #}

{% set section = 'search' %}
{% set id = 'search' %}
{% set title = 'Search' %}

{# --------------------------------------- #}
{# 3. Add models and macros #}
{# --------------------------------------- #}

{% import 'partials/macros/button.html' as buttons %}
{% import 'partials/heroes/hero.html' as hero %}
{% import 'partials/listings/listing.html' as listing %}

{# --------------------------------------- #}
{#
   4. Add page content into relevant areas
	  Add/Delete blocks as necessary
#}
{# --------------------------------------- #}

{% block hero %}

{% endblock %}

{% block body %}

	<section class="section">
		<div class="row">
			<div class="m-search">
				<form action="/" role="search" method="get">
					<label for="s" class="form-label">Search the site</label>
					<input class="form-item" type="text" name="s" id="s" placeholder="Search&hellip;" aria-label="Search the site" autofocus/>
					<button type="submit"><svg class="icon-search-svg"><use xlink:href="/assets/icons/renders/sprite.svg#search"></use></svg></button>
				</form>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="row">
			<h2 class="section__heading">67 search results for "search term"</h2>
			{{ listing.search (
				heading='This is the <span class="m-highlight">page title</span>',
				url='/about-us/our-team',
				description='<p>From midday on 18 November 2020 lovers of thrifted, <span class="m-highlight">sustainable fashion</span> can now find gorgeous, curated style at our online shop, dorothyhouse.shop, all year round. You can shop to look great and feel good, knowing that your clothing choices save beautiful things…</p>'
			) }}
			{{ listing.search (
				heading='This is the <span class="m-highlight">page title</span>',
				url='/about-us/our-team',
				description='<p>From midday on 18 November 2020 lovers of thrifted, <span class="m-highlight">sustainable fashion</span> can now find gorgeous, curated style at our online shop, dorothyhouse.shop, all year round. You can shop to look great and feel good, knowing that your clothing choices save beautiful things…</p>'
			) }}
			{{ listing.search (
				heading='This is the <span class="m-highlight">page title</span>',
				url='/about-us/our-team',
				description='<p>From midday on 18 November 2020 lovers of thrifted, <span class="m-highlight">sustainable fashion</span> can now find gorgeous, curated style at our online shop, dorothyhouse.shop, all year round. You can shop to look great and feel good, knowing that your clothing choices save beautiful things…</p>'
			) }}
			{{ listing.search (
				heading='This is the <span class="m-highlight">page title</span>',
				url='/about-us/our-team',
				description='<p>From midday on 18 November 2020 lovers of thrifted, <span class="m-highlight">sustainable fashion</span> can now find gorgeous, curated style at our online shop, dorothyhouse.shop, all year round. You can shop to look great and feel good, knowing that your clothing choices save beautiful things…</p>'
			) }}
			{{ listing.search (
				heading='This is the <span class="m-highlight">page title</span>',
				url='/about-us/our-team',
				description='<p>From midday on 18 November 2020 lovers of thrifted, <span class="m-highlight">sustainable fashion</span> can now find gorgeous, curated style at our online shop, dorothyhouse.shop, all year round. You can shop to look great and feel good, knowing that your clothing choices save beautiful things…</p>'
			) }}
			{{ listing.search (
				heading='This is the <span class="m-highlight">page title</span>',
				url='/about-us/our-team',
				description='<p>From midday on 18 November 2020 lovers of thrifted, <span class="m-highlight">sustainable fashion</span> can now find gorgeous, curated style at our online shop, dorothyhouse.shop, all year round. You can shop to look great and feel good, knowing that your clothing choices save beautiful things…</p>'
			) }}
			{{ listing.search (
				heading='This is the <span class="m-highlight">page title</span>',
				url='/about-us/our-team',
				description='<p>From midday on 18 November 2020 lovers of thrifted, <span class="m-highlight">sustainable fashion</span> can now find gorgeous, curated style at our online shop, dorothyhouse.shop, all year round. You can shop to look great and feel good, knowing that your clothing choices save beautiful things…</p>'
			) }}
			{% include 'partials/modules/pagination.html' %}
		</div>
	</section>

{% endblock %}

{% block after_content %}
{% endblock %}

{% block script %}
{% endblock %}
