{% import 'partials/macros/button.html' as btn %}

{% macro standard(heading, copy, button) %}
	<div class="aside">
		<h3 class="aside__heading">{{ heading | safe | trim  }}</h3>
		<p class="aside__copy">{{ copy | safe | trim }}</p>
		{% if button %}
			<a href="" class="button button--secondary">{{ button }}</a>
		{% endif %}
	</div>
{% endmacro %}

{% macro news(heading,categories) %}
	<div class="aside">
		<h3 class="aside__heading">{{ heading | safe | trim  }}</h3>
		<ul class="aside__list">
			{% for item in categories %}
				<li {% if item.active == true %}class="aside__list__active"{% endif %}><a href="#link">{{ item.title }}</a></li>
			{% endfor %}
		</ul>
	</div>
{% endmacro %}

{% macro map(heading, date, time, address, subheading, lat, long, button_label, phone, email) %}
	<div class="aside">
		{% if heading %}
			<h3 class="aside__heading">{{ heading | safe | trim  }}</h3>
		{% endif %}
		{% if  address or email or phone %}
			<ul class="aside__list">
				{% if address %}
					<li>
						<span class="aside__list__heading">Address</span>
						{{ address | replace('<br>',', ')}}
					</li>
				{% endif %}
				{% if email or phone %}
					<li>
						<span class="aside__list__heading">Contact</span>
						{% if email %}
							<a href="mailto:{{ email }}">{{ email }}</a><br>
						{% endif %}
						{% if phone %}
							<a href="tel:{{ phone }}">{{ phone }}</a>
						{% endif %}
					</li>
				{% endif %}
			</ul>
		{% endif %}
		{% if subheading %}
			<h4 class="aside__subheading">{{ subheading | safe | trim  }}</h4>
		{% endif %}
		{% if lat and long %}
			<div class="m-map">
				<div class="m-map__location js-map" data-map-title="Bristol" data-lat="{{ lat }}" data-lng="{{ long }}"></div>
			</div>
		{% endif %}
		{% if address %}
			<div class="aside__copy">
				<a href="http://maps.google.com/?q={{ address }}">Get directions</a>
			</div>
		{% endif %}
		{% if button_label %}
			<a href="#" class="button button--primary">{{ button_label }}</a>
		{% endif %}
	</div>
{% endmacro %}