<label class="form-label" for="select-choice">Label</label>
<div>
	<div class="form-field__select">
		<select name="select-choice" id="select-choice">
			<option value="Choice 1">Choice 1</option>
			<option value="Choice 2">Choice 2</option>
			<option value="Choice 3">Choice 3</option>
		</select>
	</div>
</div>