<header class="header">
	<div class="row">
		{% include 'partials/navigation/secondary.html' %}
		<div class="header-search">
			<form action="/search/" role="search" method="get">
				<label for="" class="header-search__label">Site search</label>
				<input type="text" placeholder="Search&hellip;" aria-label="Search the site" autofocus/>
				<button><span>Search</span></button>
			</form>
		</div>
		<a href="/" rel="home" class="header__logo">Client name</a>
		{% include 'partials/navigation/primary.html' %}
	</div>
</header>
