<form>
<div class="form">
<fieldset class="fieldset">
	<div class="form-field">
		<legend class="form-legend">Legend</legend>
	</div>
	<div class="form-field form-field--spaced">
		<label class="form-label" for="text-input">Label</label>
<div>
	<input id="text-input" class="form-item" type="text" placeholder="Text input"/>
</div>
	</div>
	<div class="form-field form-field--spaced">
		<label class="form-label" for="email-input">Label</label>
<div>
	<input id="email-input" class="form-item" type="email" placeholder="Email input"/>
</div>
	</div>
	<div class="form-field form-field--spaced">
		<div class="form-field__pair">
			<label class="form-label" for="email-input">Label</label>
<div>
	<input id="email-input" class="form-item" type="email" placeholder="Email input"/>
</div>
		</div>
		<div class="form-field__pair">
			<label class="form-label" for="email-input">Label</label>
<div>
	<input id="email-input" class="form-item" type="email" placeholder="Email input"/>
</div>
		</div>
	</div>
	<div class="form-field form-field--spaced">
		<div class="form-field__triplet">
			<label class="form-label" for="email-input">Label</label>
<div>
	<input id="email-input" class="form-item" type="email" placeholder="Email input"/>
</div>
		</div>
		<div class="form-field__triplet">
			<label class="form-label" for="email-input">Label</label>
<div>
	<input id="email-input" class="form-item" type="email" placeholder="Email input"/>
</div>
		</div>
		<div class="form-field__triplet">
			<label class="form-label" for="email-input">Label</label>
<div>
	<input id="email-input" class="form-item" type="email" placeholder="Email input"/>
</div>
		</div>
	</div>
	<div class="form-field form-field--spaced">
		<label class="form-label" for="tel-input">Label</label>
<div>
	<input id="tel-input" class="form-item" type="tel" placeholder="Telephone input"/>
</div>
	</div>
	<div class="form-field form-field--spaced">
		<label class="form-label" for="url-input">Label</label>
<div>
	<input id="url-input" class="form-item" type="url" placeholder="Url input" autocapitalize="off" autocorrect="off"/>
</div>
	</div>
	<div class="form-field form-field--spaced">
		<label class="form-label" for="password-input">Label</label>
<div>
	<input id="password-input" class="form-item" type="password" placeholder="Password input" autocapitalize="off" autocorrect="off"/>
</div>
	</div>
	<div class="form-field form-field--spaced">
		<label class="form-label" for="number-input">Label</label>
<div>
	<input id="number-input" class="form-item" type="text" placeholder="Number input (for touch)" pattern="[0-9]*"/>
</div>
	</div>
	<div class="form-field form-field--spaced">
		<label class="form-label" for="textarea">Label</label>
<div>
	<textarea id="textarea" class="form-item" placeholder="Textarea"></textarea>
</div>
	</div>
	<div class="form-field form-field--spaced">
		<label class="form-label" for="checkbox-group">Label</label>
<div id="checkbox-group">
	<div class="form-field__checkboxes form-field__checkboxes--styled">
		<input type="checkbox" name="checkbox" id="checkbox" />
		<label class="form-label" for="checkbox">Checkbox</label>
		<input type="checkbox" name="checkbox" id="checkbox-2" />
		<label class="form-label" for="checkbox-2">Checkbox</label>
	</div>
</div>
	</div>
	<div class="form-field form-field--spaced">
		<label class="form-label" class="radio-group">Label</label>
<div id="radio-group">
	<div class="form-field__radio-buttons form-field__radio-buttons--styled">
		<input type="radio" name="radio-choice-1" id="radio-choice-1" value="choice-1" />
		<label class="form-label" for="radio-choice-1">Choice 1</label>
		<input type="radio" name="radio-choice-2" id="radio-choice-2" value="choice-2" />
		<label class="form-label" for="radio-choice-2">Choice 2</label>
	</div>
</div>

	</div>
	<div class="form-field form-field--spaced">
		<label class="form-label" for="select-choice">Label</label>
<div>
	<div class="form-field__select">
		<select name="select-choice" id="select-choice">
			<option value="Choice 1">Choice 1</option>
			<option value="Choice 2">Choice 2</option>
			<option value="Choice 3">Choice 3</option>
		</select>
	</div>
</div>
	</div>
	<div class="form-field form-field--spaced">
		<button class="button button--primary" role="button">Button</button>
	</div>
</fieldset>
</div>
</form>