<details class="drawer">
	<summary class="drawer__title">{{ faq.title}}</summary>
	<div class="drawer__content">
        <div class="typebase max-meter">
			{{ faq.content | safe}}
		</div>
	</div>
</details>