{% macro standard(quote, citation) %}
<blockquote class="quote">
	<div class="quote__content">
		{{ quote | safe }}
	</div>
	<cite class="quote__citation">{{ citation }}</cite>
</blockquote>
{% endmacro %}