<h3 class="aside__heading">Filter items</h3>
<form action="" role="search" method="get" class="form">
	<div class="form-field">
		<label class="form-label" for="text-input">Search items</label>
		<input id="text-input" class="form-item" type="text" placeholder="Add a search term">
	</div>
	<div class="form-field form-field--spaced">
		<label for="status" class="form-label">Order results by</label>
		<div class="form-field__select-dropdown">
			<select name="status" id="status">
				<option value="Choice 3">Most recently changed</option>
				<option value="Choice 1">Alphabetical (A&ndash;Z)</option>
				<option value="Choice 2">Alphabetical (Z&ndash;A)</option>
			</select>
		</div>
	</div>
	<div class="form-field form-field--spaced">
		<label for="themes" class="form-label">Filter title</label>
		<div class="form-field__select-dropdown">
			<select name="themes" id="themes">
				<option value="Choice 1">All themes</option>
				<option value="Choice 2">Choice 2</option>
				<option value="Choice 3">Choice 3</option>
				<option value="Choice 4">Choice 4</option>
			</select>
		</div>
	</div>
	<div class="form-field form-field--spaced">
		<button class="button" role="button">Apply filters</button>
	</div>
</form>
