{% import 'partials/macros/button.html' as btn %}

{% macro standard(image, image_aside, heading, description, button, video_id) %}
	<section class="hero {% if image %}hero--image{% endif %}">
		<div class="row">
			<div class="hero__main" {% if image %}style="background-image: url(/assets/img/{{ image }});"{% endif %}></div>
			<div class="hero__caption">
				<h1 class="hero__heading">{{ heading | safe | trim }}</h1>
				{% if description %}
					<div class="typebase">
						<p>{{ description | safe | trim }}</p>
					</div>
				{% endif %}
				{% if button %}
					<a href="" class="button button--secondary">{{ button }}</a>
				{% endif %}
			</div>
			{% if image %}{% else %}
				<div class="hero__aside">
					{% if video_id %}
						<div class="hero__media">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video_id }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
					{% elif image_aside %}
						<div class="hero__media" style="background-image: url(/assets/img/{{ image_aside }});"></div>
					{% endif %}
				</div>
			{% endif %}
		</div>
	</section>
{% endmacro %}

{% macro article(heading, image, date, author, category, video_id) %}
	<section class="hero hero--article">
		<div class="row">
			<h1 class="hero__heading">{{ heading | safe | trim }}</h1>
			<ul class="hero__meta">
                <li><svg class="icon-calendar-svg"><use xlink:href="/assets/icons/renders/sprite.svg#calendar"></use></svg>{{ date | safe | trim }}</li>
                <li><svg class="icon-tag-svg"><use xlink:href="/assets/icons/renders/sprite.svg#tag"></use></svg><a href="">{{ category }}</a></li>
			</ul>
			{% if image %}
				<div class="hero__main" {% if image %}style="background-image: url(/assets/img/{{ image }});"{% endif %}></div>
			{% else %}
				<div class="hero__media">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video_id }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			{% endif %}
		</div>
	</section>
{% endmacro %}