<div role="form" class="wpcf7" id="wpcf7-f7176-o1" lang="en-GB" dir="ltr">
	<form class="wpcf7-form">
		<div class="form">
			<fieldset class="form-section">
				<h3 class="form__heading">About you</h3>
				<div class="form-field">
					<div class="form-field__triplet">
						<label class="form-label" for="text-input">Label</label>
<div>
	<input id="text-input" class="form-item" type="text" placeholder="Text input"/>
</div>
					</div>
					<div class="form-field__triplet">
						<label class="form-label" for="text-input">Label</label>
<div>
	<input id="text-input" class="form-item" type="text" placeholder="Text input"/>
</div>
					</div>
					<div class="form-field__triplet">
						<label class="form-label" for="text-input">Label</label>
<div>
	<input id="text-input" class="form-item" type="text" placeholder="Text input"/>
</div>
					</div>
				</div>

				<h3 class="form__heading">Your research proposal</h3>
				<div class="form-field">
					<label for="file-upload">Upload your proposal:</label>
					<input type="file" id="file-upload" name="file-upload" accept="image/png, image/jpeg">
					<small class="form-small-text">Allowable file types are: PDF, DOC, DOCX and ODT</small>
				</div>

				<h3 class="form__heading">Questions</h3>
				<div class="form-field">
					<label class="form-label">Which of our 4 research themes does your project fit within?</label>

					<label class="form-label" for="checkbox-group">Label</label>
					<div id="checkbox-group">
						<div class="form-field__checkboxes">
							<input type="checkbox" name="healthier-childhoods" id="healthier-childhoods">
							<label class="form-label" for="healthier-childhoods">Healthier childhoods</label>
							<input type="checkbox" name="integrated-and-optimal-care" id="integrated-and-optimal-care">
							<label class="form-label" for="integrated-and-optimal-care">Integrated and optimal care</label>
							<input type="checkbox" name="mental-health" id="mental-health">
							<label class="form-label" for="mental-health">Mental health</label>
							<input type="checkbox" name="public-health-and-prevention" id="public-health-and-prevention">
							<label class="form-label" for="public-health-and-prevention">Public health and prevention</label>
						</div>
					</div>
				</div>
				<div class="form-field form-field--spaced">
					<label class="form-label">Are you seeking funding for this work?</label>
					<div class="form-field__radio-buttons">
						<input type="radio" name="yes" id="yes">
						<label class="form-label" for="yes">Yes</label>
						<input type="radio" name="no" id="no">
						<label class="form-label" for="no">No</label>
					</div>
				</div>
				<div class="form-field form-field--spaced">
					<label class="form-label">Does the project have the potential for direct patient benefit?</label>
					<div class="form-field__radio-buttons">
						<input type="radio" name="yes" id="yes">
						<label class="form-label" for="yes">Yes</label>
						<input type="radio" name="no" id="no">
						<label class="form-label" for="no">No</label>
					</div>
				</div>
				<div class="form-field form-field--spaced">
					<label class="form-label">Does the idea/intervention have the potential to be rolled out nationally?</label>
					<div class="form-field__radio-buttons">
						<input type="radio" name="yes" id="yes">
						<label class="form-label" for="yes">Yes</label>
						<input type="radio" name="no" id="no">
						<label class="form-label" for="no">No</label>
					</div>
				</div>
				<div class="form-field form-field--spaced">
					<label class="form-label">Privacy</label>
					<div class="form-field__checkboxes">
						<input type="checkbox" name="gdpr" id="gdpr">
						<label class="form-label" for="gdpr">Please check this box to accept our privacy terms. We will only use the details you give us to administer your enquiry. This process is managed via email. We will be in touch soon.</label>
					</div>
				</div>
				<div class="form-field form-field--spaced">
					<button class="button" role="button">Button</button>
				</div>
				<div class="form-field form-field--spaced">
					<small  class="form-small-text">This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy">Privacy Policy</a> and <a href="https://policies.google.com/terms">Terms of Service</a> apply. </small>
				</div>
			</fieldset>
		</div>
		<div class="wpcf7-response-output wpcf7-mail-sent-ok" role="alert">Thank you for your message. It has been sent.</div>
		<div class="wpcf7-response-output wpcf7-spam-blocked" role="alert">There was an error trying to send your message. Please try again later.</div>
		<div class="wpcf7-response-output wpcf7-validation-errors" role="alert">One or more fields have an error. Please check and try again.</div>
	</form>
</div>