@import 'colorSwatches.scss';
@import 'abstracts/fonts.scss';

$guideSpace: 80px;
$guideStroke: 2px;
$guideDivide: $guideStroke solid #ddd;

// Guide layout
// -----------------------------------

.guide-index {
	padding: 4rem 10% 8rem;
	&-list {
		list-style-type: none;
		padding: 1rem 3rem 1rem 0;
		// border-left: 3px solid #5c2d70;
		margin-bottom: 10rem;
		li {
			font-size: 18px;
			margin-bottom: 16px;
			position: relative;
			padding-left: 30px;
			&:last-child {
				margin-bottom: 4px;
			}
			&::before{
				position: absolute;
				width: 20px;
				height: 20px;
				border-radius: 20px;
				display: block;
				top: 4px;
				left: 0;
				vertical-align: middle;
				text-align: center;
				font-size: 16px;
				line-height: 18px;
				color: white;
			}
			&.complete::before {
				background-color: #46A86C;
				content: "";
			}
			&.doing::before {
				background-color: #f29330;
				content: "";
			}
			&.todo::before {
				background-color: #666;
				content: "";
			}
			&.label {
				font-weight: bold;
				text-transform: uppercase;
				letter-spacing: 1px;
				&:not(:first-of-type){
					margin-top:30px;
				}
			}
		}
		&--cols {
			@media screen and (min-width:900px) {
				column-count: 2;
			}
			@media screen and (min-width:1800px) {
				column-count: 3;
			}
		}
	}
}

.guide-header{
	background-color: #eee;
	padding: 1rem 10% 1.5rem 10%;
	overflow: hidden;
	h1 {
		display: inline-block;
		font-size: 1.8rem;
	}
}

.guide-menu{
	float:right;
	margin-top: 0;
	li {
		float: left;
		font-size: 1.6rem;
		display: inline-block;
		margin-left: 20px;
	}
	@media screen and (max-width: 600px) {
		float: none;
		li {
			margin-left: 0;
			margin-right: 20px;
		}
	}
}

.guide-section {
	border-top: $guideDivide;
	margin-top: $guideSpace;
	padding-top: $guideSpace - $guideStroke;
	&:first-of-type {
		border-top: 0;
		margin-top: 0;
		padding-top: 0;
	}
}

.guide-h1 {
	font-size: 22px;
	line-height: 29px;
	margin-bottom: 22px;
	color: #333;
}

.guide-swatches {
	list-style-type: none;
	margin-bottom: 10rem;
	display: grid;
	grid-row-gap: 40px;
	grid-column-gap: 10px;
	@media screen and (min-width:700px) {
		display: grid;
		grid-template-columns: repeat(4, minmax(25%, 1fr));
	}
}

.guide-swatch {
	display: block;
	font-size: 13px;
	line-height: 13px;
	color: #333;
	&:after {
		@extend .guide-swatch-meta !optional;
	}
	&-block {
		height: 80px;
		width: 100%;
		min-height: 80px;
		display: block;
		margin-bottom: 7px;
		@media screen and (min-width:690px) {
			height: 0;
			width: 100%;
			padding-bottom: 33%;
		}
	}
	&-meta {
		display: block;
		margin-top: 7px;
	}
}
