
// Brand colours
// ------------------------------------------------------------------

// Core colours
$cOrange: #FE5E41!default;
$cGreen: #00A878!default;
$cYellowGreen: #D8F1A0!default;
$cYellow: #F3C178!default;

// Greyscales
$cSmoke: #0B0500!default;
$cCloud: #595859!default;
$cHaze: #f2f2f2!default;
$cIce: #ffffff!default;


// Non-brand feedbacks
// ------------------------------------------------------------------

$cError: #B10E1E;
$cSuccess: #00823B;
$cAlert: #FFBF47;


// Map for easy assignment loops + swatches
// These must match the colors above
// ------------------------------------------------------------------

$colors: (
	Orange: $cOrange,
	Green: $cGreen,
	YellowGreen: $cYellowGreen,
	Yellow: $cYellow,
	Smoke: $cSmoke,
	Cloud: $cCloud,
	Haze: $cHaze,
	Ice: $cIce
);


// Assign colours to declarative variables
// ------------------------------------------------------------------

// Actions
$cAction: $cOrange;
$cActionRespond: $cGreen;

// Buttons
$cButtonPrimary: $cGreen;
$cButtonSecondary: $cCloud;

// Default text colors
$cHeading: $cSmoke;
$cText: $cCloud;

// Form colors
$cLabel: $cSmoke;
$cFormNotes: $cHaze;
$cFocus: $cYellow;

// Misc. color assignments
$cBorder: $cCloud;
