<form>
<div class="form">
<fieldset class="fieldset">
	<div class="form-field">
		<legend class="form-legend">Legend</legend>
	</div>
	<div class="form-field form-field--spaced">
		{% include 'partials/forms/fields/input-text.html' %}
	</div>
	<div class="form-field form-field--spaced">
		{% include 'partials/forms/fields/input-email.html' %}
	</div>
	<div class="form-field form-field--spaced">
		<div class="form-field__pair">
			{% include 'partials/forms/fields/input-email.html' %}
		</div>
		<div class="form-field__pair">
			{% include 'partials/forms/fields/input-email.html' %}
		</div>
	</div>
	<div class="form-field form-field--spaced">
		<div class="form-field__triplet">
			{% include 'partials/forms/fields/input-email.html' %}
		</div>
		<div class="form-field__triplet">
			{% include 'partials/forms/fields/input-email.html' %}
		</div>
		<div class="form-field__triplet">
			{% include 'partials/forms/fields/input-email.html' %}
		</div>
	</div>
	<div class="form-field form-field--spaced">
		{% include 'partials/forms/fields/input-telephone.html' %}
	</div>
	<div class="form-field form-field--spaced">
		{% include 'partials/forms/fields/input-url.html' %}
	</div>
	<div class="form-field form-field--spaced">
		{% include 'partials/forms/fields/input-password.html' %}
	</div>
	<div class="form-field form-field--spaced">
		{% include 'partials/forms/fields/input-number.html' %}
	</div>
	<div class="form-field form-field--spaced">
		{% include 'partials/forms/fields/textarea.html' %}
	</div>
	<div class="form-field form-field--spaced">
		{% include 'partials/forms/fields/checkboxes.html' %}
	</div>
	<div class="form-field form-field--spaced">
		{% include 'partials/forms/fields/radios.html' %}
	</div>
	<div class="form-field form-field--spaced">
		{% include 'partials/forms/fields/select.html' %}
	</div>
	<div class="form-field form-field--spaced">
		<button class="button button--primary" role="button">Button</button>
	</div>
</fieldset>
</div>
</form>