<ul class="pagination">
	<li class="pagination__item pagination__item--prev">
		<a class="pagination__item-prev-link" href="#none">Prev</a>
	</li>
	<li class="pagination__item">
		<a class="pagination__item-link" href="#none">1</a>
	</li>
	<li class="pagination__item">
		<a class="pagination__item-link pagination__item-link--active" href="#none">2</a>
	</li>
	<li class="pagination__item">
		<a class="pagination__item-link" href="#none">3</a>
	</li>
	<li class="pagination__item">
		<a class="pagination__item-link" href="#none">4</a>
	</li>
	<li class="pagination__item">
		<a class="pagination__item-link" href="#none">5</a>
	</li>
	<li class="pagination__item">
		<span class="pagination__item-link">...</span>
	</li>
	<li class="pagination__item">
		<a class="pagination__item-link" href="#none">45</a>
	</li>
	<li class="pagination__item pagination__item--next">
		<a class="pagination__item-next-link" href="">Next</a>
	</li>
</ul>