<!doctype html>
<!--[if lt IE 9 ]> <html lang="en-GB" class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9 ]> <html lang="en-GB" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en-GB" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="initial-scale=1">
	<title>{% block title %}{{ code }} {{ title }}{% endblock %}</title>
	{% block html_header %}
    	{% include 'partials/scaffold/header-assets.html' %}
    {% endblock %}
</head>
<body class="body body--{{ section }}" id="body-{{ section }}">
	<div class="ui-canvas">
        <a href="#pagecontent" class="skiplink" data-js="skiplink">Skip to main content</a>
        {% block header %}
            {% include 'partials/global/header.html' %}
        {% endblock %}
        <!-- ID and -nofocus required for proper skiplink operation -->
		<main id="pagecontent" class="pagecontent -nofocus" role="main" tabindex="-1">
			{% block hero %}{% endblock %}
			{% block body %}{% endblock %}
			{% block after_content %}{% endblock %}
		</main>
		{% block footer %}
			{% include 'partials/global/footer.html' %}
		{% endblock %}
	</div>
	{% include 'partials/scaffold/footer-assets.html' %}
	{% block script %}
	{% endblock %}
</body>
</html>
