<!doctype html>
<html lang="en-GB" class="no-js">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Styles. {{ title }}</title>
	<link rel="stylesheet" href="/assets/css/guide.css">
	<link rel="stylesheet" href="/assets/css/style.css">
	{% include 'partials/scaffold/favicon.html' %}
	<script src="/assets/js/libs/modernizr.js"></script>
</head>
<body>
	<div class="guide-header">
		<h1><a href="/">{{ site_name }} Pattern Library</a> / {{ title }}</h1>
		<ul class="guide-menu">
			<li><a href="/index.html">Template list</a></li>
			<li><a href="/00-guide">Style guide</a></li>
		</ul>
	</div>
	<div class="guide-index">
		{% block content %}
		{% endblock %}
	</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% block script %}
{% endblock %}
</html>