<label class="form-label" for="checkbox-group">Label</label>
<div id="checkbox-group">
	<div class="form-field__checkboxes form-field__checkboxes--styled">
		<input type="checkbox" name="checkbox" id="checkbox" />
		<label class="form-label" for="checkbox">Checkbox</label>
		<input type="checkbox" name="checkbox" id="checkbox-2" />
		<label class="form-label" for="checkbox-2">Checkbox</label>
	</div>
</div>