<label class="form-label" for="password-input">Label</label>
<div>
	<input id="password-input" class="form-item" type="password" placeholder="Password input" autocapitalize="off" autocorrect="off"/>
</div>