<label class="form-label" class="radio-group">Label</label>
<div id="radio-group">
	<div class="form-field__radio-buttons form-field__radio-buttons--styled">
		<input type="radio" name="radio-choice-1" id="radio-choice-1" value="choice-1" />
		<label class="form-label" for="radio-choice-1">Choice 1</label>
		<input type="radio" name="radio-choice-2" id="radio-choice-2" value="choice-2" />
		<label class="form-label" for="radio-choice-2">Choice 2</label>
	</div>
</div>
