<label class="form-label" for="text-input">Label</label>
<div class="form-field__error">
	<input id="text-input" class="form-item" type="text" placeholder="Text input"/>
	<p class="form-field__error__message">This field is required</p>
</div>